.dialog-container {
  width: calc(100% - 16px);
  .close-button-row {
    width: calc(100% + 14px);
    .close-button {
      border: 3px solid #492613;
      width: 55px;
      height: 55px;
      line-height: 55px;
      background: white;
    }
  }
  .text-container {
    margin-top: -40px;
    background: white;
    border-radius: 30px;
    .title-text {
      font-size: 36px;
      color: #492613;
      font-family: Helvetica-Neue-Bold;
      font-weight: 900;
      margin-bottom: 10px;
      text-align: center;
      min-width: 600px;
    }
    .subtitle-text {
      font-size: 24px;
      margin-top: 0;
      color: #492613;
      font-family: Helvetica-Neue-Bold;
      font-weight: 900;
      text-align: center;
    }
  }
}

@media screen and (max-width: 829px) {
  .dialog-container {
    .text-container {
      .subtitle-text {
        padding: 0 50px;
      }
    }
  }
}

@media screen and (max-width: 740px) {
  .dialog-container {
    .text-container {
      .title-text {
        min-width: unset;
      }
    }
  }
}

@media screen and (max-width: 579px) {
  .dialog-container {
    .text-container {
      .title-text {
        padding: 0 2.5%;
      }
      .subtitle-text {
        text-align: center;
        padding: 0 2.5%;
      }
    }
  }
}
