<div class="page-container">
    <!-- HEADER SECTION -->
    <div fxLayout="row" fxLayoutAlign="start-between end" class="header-container">
      <div class="logo-container">
        <img src="./assets/m&m-logo.png">
      </div>
    </div>
    <!-- CONTENT SECTION -->
    <div fxLayout="column" fxLayoutAlign="start center" class="content-container">
      <img src="./assets/yellowm&m.png">
      <p class="title-text">
        SORRY!
      </p>
      <p class="title-text">
        YOU'RE NOT ELIGIBLE
      </p>
      <p class="subtitle-text">
        Our marketing code states that you are not eligible to view the content that you have requested.  Unfortunately, this is as far as you can go on our website.
      </p>
      <span fxFlex></span>
      <p class="subscript-text">
        For more information about how we only promote our products responsibly, please follow the link to the Mars Marketing Code.  For more information about our Marketing Code, please <span>
          <a href="/">
            click here.
          </a>
        </span>
      </p>
    </div>
  </div>
